#title{
    text-align: center;
    background-color:rgb(80, 201, 231);
    font-size: 30px;
    color: white;
}

#link{
    text-align: center;
    background-color:#8ea7a8;
    font-size: 30px;
    color: rgb(14, 17, 199);
}

#banner{
    color: white;
    font-size: 30px;
    background-color: rgb(80, 201, 231);
}

#subtext{
    text-align: center;
    background-color:#8ea7a8;
    font-size: 10px;
    color: white;
}

#caption {
  font-style: italic;
  font-size:14px;
  text-align: center;
}

.collapsible {
  background-color: rgb(80, 201, 231);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: rgb(80, 201, 231)5;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #8ea7a8;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
